/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
}

header nav .now_page{
    color: #E4B67A;
}


.top{
    /* min-width: 1440px; */
    background-image: url(../img/about/bg1.png);
    background-size: cover;
    height: 100vh;
    padding-top: 240px;
}


.top h1{
    font-size: 20px;
    width: 200px;
    line-height: 40px;
    margin: 0 70px 20px 220px;
    background-color: #194448;
    color: white;
    text-align: center;
}

.top p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 2.5;
    margin-left: 220px;
}

/* bottom */

.bottom{
    /* width: 100%; */
    min-width: 1440px;
    /* padding: 0 230px; */
    background-image: url(../img/about/bg2.png);
    background-size: cover;

}

.bottom_wrapper{
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
}

.bottom h2{
    font-size: 20px;
    width: 200px;
    line-height: 40px;
    margin: 0 auto;
    background-color: #194448;
    color: white;
    
    text-align: center;
    /* padding: 70px 0; */
    /* color: #fff; */
}

.bottom ul{
    display: flex;
    padding-top: 70px;
    padding-bottom: 200px;
}

.bottom ul li{
    flex-grow: 1;
    flex-basis: 300px;
    color: #fff;
    margin: 0 40px;

    position: relative;
}


.bottom .img{
    max-width: 330px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}


.bottom .img img{
    display: block;
    width: 100%;
    transition: all 0.3s linear;
}

.bottom .img img:hover{
    transform: scale(1.1);
    filter: opacity(.5);
    filter:brightness(1.2);
}

.bottom .number{
    display: flex;
}

.bottom .number h3{
    flex-grow: 1;
    text-align: right;
    font-size: 60px;
    font-weight: 600;
    padding-left: 40px;
}

.bottom .number h4{
    flex-grow: 1;
    align-self: center;
    font-weight: 550;
    font-size: 22px;
    margin: 25px 0 0 10px;
}

.bottom ul li p{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    border-top: 3px solid white;
}

/* team */


.team{
    width: 100%;
    min-width: 1440px;
    background-image: url(../img/about/bg3.png);
    background-size: cover;
    height: 100vh;

    position: relative;
}

.team_wr{
    width: 500px;
    position: absolute;
    top: 30%;
    right: 11%;
}

.team_wr h1{
    font-size: 20px;
    width: 200px;
    line-height: 40px;
    background-color: #194448;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.team_wr p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 2.5;
}

@media screen and (max-width: 428px){
    .wrapper{
        min-width: auto;
    }

    .top{
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 100px;
        height: 850px;
        background-image: url(../img/about/bg1_mb.png);
    }
    .top h1{
        font-size: 18px;
        margin: 0;
        margin-top: 340px;
        margin-left: 25px;
        line-height: 40px;
        width: 150px;
    }
    
    .top p{
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 0;
        width: 100%;
        padding: 20px 25px;
        margin: 0 auto;
        line-height: 2;
    }

    .bottom{
        min-width: auto;
        background-image: url(../img/about/bg2_mb.png);
        background-size: cover;
    }
    .bottom_wrapper{
        width: 100%;
        padding-top: 50px;
    }
    .bottom h2{
        font-size: 18px;
        width: 180px;
        line-height: 40px;
    }
    .bottom ul{
        flex-direction: column;
        padding: 40px 23px;
    }
    .bottom ul li{
        margin: 20px;
    }

    .bottom .number h3{
        font-size: 48px;
        padding-left: 35px;
    }

    .bottom .number h4{
        font-size: 18px;
        margin: 15px 0 0 10px;
    }
    .bottom ul li p{
        font-size: 16px;
    }

    .team{
        min-width: auto;
        background-image: url(../img/about/bg3_mb2.png);
        background-size: cover;
        height: 850px;
    }
    .team_wr{
        top: 55%;
        right: 0%;
        width: 100%;
        padding-left: 20px;
    }
    .team_wr h1{
        font-size: 18px;
        width: 150px;
        line-height: 40px;
    }
    .team_wr p{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 2;
    }


}