@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mohave:wght@400;500;600&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg/BG.png);
    font-family: Mohave, "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.6;
}

/* header */

header{
    background-color: #fff;
    min-width: 1440px;
}

.header_wrap{
    width: 100%;
    min-width: 1440px;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between;*/
    padding: 0 160px;
}

 /* menu btn checkbox隱藏*/
 .menu-btn {
    display: none;
}

.logo_header{
    /* margin-right: 400px; */
    flex-grow: 1;
}


.logo_header a {
    display: block;
    line-height: 60px;
}

.logo_header a img{
    display: block;
    max-width: 280px;
    padding: 11px 0 11px 70px;
}

nav ul{
    display: flex;
    margin-left: 0px;
}

nav ul li{
    margin-right: 40px;
}


nav ul li:nth-child(7){
    margin-right: 70px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 68.97px;
    text-align: center;
    letter-spacing: 4px;
}

nav ul li a:hover{
    color: #E4B67A;
}

/* --子選單--- */
.products_menu ol{
    position: absolute;
    z-index: 10;
    width: 100px;
    background-color: #fff;
  
    display: none;
}


.products_menu ol li{
    margin: 0;
    padding: 0 10px;
}

.products_menu ol li:hover{
    background-color: #194448;
    color: white;
}

.products_menu ol li:hover a{
    color: white;
}

.products_menu ol li a{
    display: inline-block;
    line-height: 45px;
}

.products_menu ol li a .fa-angle-right{
    padding-left: 20px;
} 

/* RWD 子選單 css*/
.menu li span{
    display: none;
    margin-bottom: 10px;
}

.menu li span a{
    line-height: 30px;
    padding: 0 10px;
}


/* RWD會員和購物車icon 先隱藏*/

.rwd_icon{
    display: none;
}


/* hover & show */
.products_menu:hover ol{
    display: block;
}
  

/* header end */

/* contact */

.btn_modal_close{
    cursor: pointer;
}

.none{
    display: none;
}

#contactbox{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
}

/* 元素 article 置中及基本樣式 */
#contactbox article{
    background-color: white;
    width: 90%;
    max-width: 650px;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contactbox article form{
    padding: 10px;
}

#contactbox article h1{
    margin-bottom: 20px;
    border-bottom: 2px solid #E4B67A;
    width: 72px;
}

#contactbox article input{
    margin-top: 20px;
    font-size: 16px;
    width: 590px;
    height: 30px;
    outline: none;
}

#contactbox article textarea{
    resize: none;
    font-size: 16px;
    width: 590px;
    outline: none;
    margin-top: 20px;
}

#contactbox article button{
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    background-color: #194448;
    color: #fff;
}

#contactbox article button:hover{
    cursor: pointer;
    background-color: #E4B67A;
}

/* contact end*/


/* footer */

footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 0 230px;

    overflow: hidden;
}

.logo_footer{
    float: left;
    margin-left: 40px;
}

.logo_footer a img{
    display: block;
    width: 160px;
    padding: 30px 40px 20px;
}
.logo_footer p{
    text-align: center;
}

.logo_footer i{
    font-size: 30px;
    padding: 10px 10px 60px;
}

.right_block{
    float: right;
    display: flex;
    margin-top: 25px;
}

.right_block li{
    margin-right: 40px;
    font-size: 18px;
}


.right_block li ul li{
    text-align: center;
    margin-top: 5px;
    color: #E4B67A;
}


.right_block li ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

footer .tibame{
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}

footer .tibame a{
    color: #fff;
    text-decoration: none;
}
/* footer end */


/*---------- 螢幕小於 428 時 ----------*/
@media screen and (max-width: 428px){

    body{
        background-size: contain;
    }

    .wrapper{
        min-width: auto;
    }

    /* header */

    header{
        min-width: auto;
    }

    .header_wrap{
        min-width: auto;
        height: 60px;
        background-color: #fff;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        z-index: 100;
        padding: 0;
        /* justify-content: end; */
        /* justify-content: center; */
        justify-content: space-evenly;
    }

    .logo_header{
        /* margin-right: 400px; */
        flex-grow: 0;
    }

    .logo_header a img{
        height: 60px;
        /* padding-right: 40px;
        padding-left: 50px; */
        padding-left: 80px;
    }
    
    nav ul li:nth-child(7){
        margin: 0 auto;
    }
    
    /*選單按鈕*/

    .menu-icon{
        width: 60px;
        height: 60px;
        /* background: ; */
        cursor: pointer;
        display: block;
        padding: 16px;

        position: fixed;
        left: 0;
        z-index: 2;
    }
    .navicon,
    .navicon::before,
    .navicon::after {
        background: #E4B67A;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: .2s ease-out;
        width: 30px;
    }
    .navicon{
        left: 18px;
        top: 27px;
    }
    .navicon::before{
        top: -8px;
    }

    .navicon::after{
        top: 8px;
    }

    /* menu btn checkbox隱藏*/
    .menu-btn {
        display: none;
    }

    /*點選選單變叉叉*/

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    }

    /*選單開合*/

    .menu-btn:checked ~ nav {
        width: 100%;
    }

    nav {
        width: 0px;
        height: 100vh;
        background: #194448;
        
        position: fixed;
        left: 0; 
        /* 從左邊滑入 */
        z-index: 1;
        transition: all .3s;
        overflow: hidden;
        padding-top: 60px;
        /* nav下移 logo顯示*/
        /* top: 60px; */
    }

    /*選單向外推*/
    .menu{
        display: block;
        /* margin-left:70px; */
        padding: 0;
    }

    .menu li {
        display: block;
        width: calc(100% - 20px);    
        margin: 0 auto;
        border-bottom: 0.1px solid rgb(137, 134, 134);
    }

    

    .menu li a{
        color: white;
        font-weight: 400;
    }


    /* 所有商品的子選單取消出現 */
    .products_menu:hover ol{
        display: none;
    }
    .products_menu ol{
        display: none;
        /* background-color: transparent; */
    }
    .products_menu ol li{
        display: none;
    }
    
    .products_menu ol li:hover{
        display: none;
    }
    
    .products_menu ol li:hover a{
        display: none;
    }
    
    .products_menu ol li a{
        display: none;
    }
    
    .products_menu ol li a .fa-angle-right{
        display: none;
    } 

    /* RWD會員和購物車icon*/

    .rwd_icon{
        display: flex;
        align-items: center;
    }
    .rwd_icon a{
        color: #000;
    }

    /* 原會員和購物車icon隱藏 */
    .menu li:nth-child(6),
    .menu li:nth-child(7){
        display: none;
    }


    /* contact */
    #contactbox article{
        width: 80%;
        padding: 10px;
    }


    #contactbox article input{
        width: 100%;
    }
    #contactbox article textarea{
        width: 100%;
    }

    /* footer */
    footer{
        width: auto;
        padding: 0;

    }
    .logo_footer{
        float: none;
        margin: 0;
        text-align: center;
    }

    .logo_footer a img{
        width: 140px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .logo_footer p{
        display: none;
    }
    
    .logo_footer i{
        padding-bottom: 10px;
    }

    .right_block{
        float: none;
        flex-direction: column;
        margin: 10px 0 20px;
    }
    .right_block li{
        margin: 0;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .right_block li ul li{
        margin: 0;
    }
    .right_block li ul li a{
        font-size: 14px;
    }
    footer .tibame{
        font-size: 14px;
        padding-bottom: 5px;
    }

}