/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
}

header nav .now_page{
    color: #E4B67A;
}

.sighup_wrapper{
    width: 1440px;
    margin: 0 auto;
    background-image: url('../img/member/bg.png');
}

.sighup{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 100px 0 100px;
}

.sighup h1{
    font-size: 32px;
}

.sighup_text{
    background-color: #fff;
    flex-basis: 500px;
    padding: 90px 100px 80px;
    font-weight: 500;
}

.sighup_text h1{
    margin-bottom: 30px;
    text-align: center;
}

.sighup_text input{
    width: 300px;
    height: 30px;
    /* margin-bottom: 30px; */
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.sighup_text button{
    width: 300px;
    height: 32px;
    border: none;
    background-color: #E4B67A;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    /* margin-bottom: 30px; */
    letter-spacing: 1px;
    margin: 10px 0;
}

.sighup_text button:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

.sighup_text h2{
    display: inline-block;
}

.sighup_text a{
    color: #E4B67A;
}

.img{
    flex-basis: 500px;
    position: relative;
}
.img h1{
    z-index: 10;
    color: #fff;
    position: absolute;
    top: 90px;
    right: 140px;
}

.img img{
    display: block;
}


/* 表單驗證用 */

.sighup_text .-on{
    border: 1.6px solid #E4B67A;
}

.-error{
    border: 1.6px solid rgba(231, 62, 62, 0.651);
}

#alert_block_em,
#alert_block_pw{
    display: none;
    color: rgba(231, 62, 62, 0.651);
    font-size: 14px;
    font-weight: 400;
}



/*---------- 螢幕小於 428 時 ----------*/
@media screen and (max-width: 428px){
    .wrapper{
        min-width: auto;
    }

    .sighup_wrapper{
        max-width: 100%;
        background-size: contain;
        background-image: url('../img/member/bg_mb.png');
    }

    .sighup{
        width: 90%;
        flex-direction: column;
        margin-top: 30px;
    }

    .img{
        display: none;
    }

    .sighup_text{
        flex-basis: auto;
        padding: 40px;
    }

    .sighup_text h1{
        text-align: center;
        font-size: 18px;
    }

    .sighup_text input{
        width: 100%;
    }

    .sighup_text button{
        width: 100%;
    }



}