/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
    background-color: #fff;
}

header nav .now_page{
    color: #E4B67A;
}

main{
    max-width: 1440px;
    height: 100vh;
    /* height: 800px; */
    margin: 0 auto;
    padding-top: 50px;
    background-image: url(../img/member/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.panel_group{
    width: 600px;
    margin: 0 auto;
}

.panel_control {
    position:absolute;
    opacity:0;
}
.tab_group label {
    display:inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    border:1px solid #ccc;
    border-bottom:none;
    background-color: #ccc;
    bottom:-1px;
    position:relative;
    width: 297px;
    text-align: center;
}

.content_group {
    border:1px solid #ccc;
    background-color: #fff;
}
.content_group .content{
    display:none;
}

.content_group .content1{
    width: 450px;
    margin: 0 auto;
}

.content_group .content1 .line{
    margin: 30px 0 20px;
    background-color: #00C300;
    border-radius: 5px;
}
.content_group .content1 .line a{
    display: block;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
    color: white;

    display: flex;
}
.content_group .content1 .line img{
    height: 35px;
    display: block;
    margin-right: 130px;
}

.content_group .content1 .fb{
    background-color: #3B5998;
    margin-bottom: 40px;
    border-radius: 5px;
}

.content_group .content1 .fb a{
    display: block;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
    color: white;

    display: flex;
}

.content_group .content1 .fb img{
    height: 30px;
    display: block;
    margin: 3px 110px 0 3px;
}

.content_group .content1 input{
    width: 450px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #666666;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.content_group .content1 .checkbox{
    width: 20px;
    display: inline-block;
}

.content_group .content1 button{
    width: 450px;
    height: 35px;
    border: none;
    background-color: #E4B67A;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.content_group .content2{
    width: 450px;
    margin: 0 auto;
}

.content_group .content2 .line{
    margin: 30px 0 20px;
    background-color: #00C300;
    border-radius: 5px;
}
.content_group .content2 .line a{
    display: block;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
    color: white;

    display: flex;
}
.content_group .content2 .line img{
    height: 35px;
    display: block;
    margin-right: 130px;
}

.content_group .content2 .fb{
    background-color: #3B5998;
    margin-bottom: 40px;
    border-radius: 5px;
}

.content_group .content2 .fb a{
    display: block;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
    color: white;

    display: flex;
}

.content_group .content2 .fb img{
    height: 30px;
    display: block;
    margin: 3px 110px 0 3px;
}

.content_group .content2 h1{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content_group .content2 input{
    width: 450px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #666666;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.content_group .content2 button{
    width: 450px;
    height: 35px;
    border: none;
    background-color: #E4B67A;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content_group .content2 h2{
    text-align: center;
    color: #666666;
    margin-bottom: 30px;
}

#radio1:checked ~ .tab_group [for="radio1"],
#radio2:checked ~ .tab_group [for="radio2"]{
    background-color: #fff;
}

#radio1:checked ~ .content_group .content1,
#radio2:checked ~ .content_group .content2{
    display:block
}
  