/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
}

header nav .now_page{
    color: #E4B67A;
}

.login_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('../img/member/bg.png');
}

.login{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 100px 0 100px;
}
.img{
    flex-basis: 500px;
}

.img img{
    display: block;
}

.login_text{
    background-color: #fff;
    flex-basis: 500px;
    padding: 82px 100px 80px;
    font-weight: 500;
}
.login_text h1{
    font-size: 20px;
    width: 50px;
    border-bottom: 3px solid #E4B67A;
    margin-bottom: 30px;
}

.login_text input{
    width: 300px;
    height: 30px;
    /* margin-bottom: 20px; */
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}


.login_text button{
    width: 300px;
    line-height: 31px;
    border: none;
    background-color: #E4B67A;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    /* margin-bottom: 10px; */
    letter-spacing: 1px;
    margin: 10px 0;
}

.login_text button:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

.login_text h2{
    display: inline-block;
}

.login_text a{
    color: #E4B67A;
}

.login_text p{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.login_text .icon{
    text-align: center;
    /* font-size: 25px; */
    color: #666666;
}

.login_text .icon i{
    font-size: 25px;
    width: 30px;
}

/* 表單驗證用 */

.login_text .-on{
    border: 1.6px solid #E4B67A;
}

.-error{
    border: 1.6px solid rgba(231, 62, 62, 0.651);
}

#alert_block_em,
#alert_block_pw{
    display: none;
    color: rgba(231, 62, 62, 0.651);
    font-size: 14px;
    font-weight: 400;
}


/*---------- 螢幕小於 428 時 ----------*/
@media screen and (max-width: 428px){
    .wrapper{
        min-width: auto;
    }

    .login_wrapper{
        max-width: 100%;
        background-size: contain;
        background-image: url('../img/member/bg_mb.png');
    }

    .login{
        width: 90%;
        flex-direction: column;
        margin-top: 30px;
    }

    .img{
        display: none;
    }

    .login_text{
        flex-basis: auto;
        padding: 40px;
    }

    .login_text h1{
        width: 48px;
        text-align: center;
        font-size: 18px;
    }

    .login_text input{
        width: 100%;
    }

    .login_text button{
        width: 100%;
    }



}

