/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
    background-color: #fff;
}

header nav .now_page{
    color: #E4B67A;
}

.cart_icon{
    position: relative;
}

.cart_qty{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -12px;
    top: 2px;
    background-color: #194448;
    color: white;
    font-size: 14px;
    padding-left: 3px;
    padding-top: 1px;
    opacity: 0;
}


/* 動態購物車介面 */
.cart_none{
    display: none;
}


#cartbox{
z-index: 100;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
}


/* #cartbox article{
    background-color: white;
    border: 1px solid rgb(207, 205, 205);
    width: 90%;
    max-width: 300px;
    max-height: calc(100vh - 182px);
    overflow: auto;
    padding: 15px;
    
    position: fixed;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
    animation: cart .4s linear backwards;
} */

#cartbox article {
    background-color: white;
    border: 1px solid rgb(207, 205, 205);
    width: 100%;
    max-width: 350px;
    max-height: calc(100vh - 182px);
    max-height: 100%;
    height: 100vh;
    overflow: auto;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    animation: cart .4s linear forwards;
}
@keyframes cart{
    0%{
        left: 100%;
    }
    100%{
        left: 80%;
    }
}

#cartbox .article_none{   
    position: fixed;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
    animation: cart_bye .4s linear forwards;
}
@keyframes cart_bye{
    0%{
        left: 80%;
    }
    100%{
        left: 110%;
    }
}

#cartbox .cart_add{
    display: flex;
    border-bottom: 1px solid rgb(207, 205, 205);
}

#cartbox .cart_add img{
    display: block;
    width: 100%;
    width: 80px;
    height: 70px;
}

#cartbox .cart_add .cart_text{
    margin: 0 auto;
}

#cartbox .cart_add h1{
    font-weight: 600;
}

#cartbox .cart_add p{
    display: inline-block;
    color: #194448;
    font-weight: 600;
}

#cartbox .cart_add i{
    display: inline-block;
    padding-left: 55px;
}

#cartbox .cart_add i:hover{
    cursor: pointer;
}

/* #cartbox .amount_qty{
    display: inline-block;
    padding-top: 15px;
} */

#cartbox button{
    display: inline-block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: #E4B67A;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

#cartbox button a{
    text-decoration: none;
    color: black;
}

#cartbox button:hover{
    cursor: pointer;
}

/* bread_crumbs */
.bread_crumbs{
    max-width: 1440px;
    margin: 0 auto;
    line-height: 45px;
    background-color: #EEEFE9;
    display: flex;
    padding-left: 25px;
}

.bread_crumbs h1::after{
    content: '／';
}

/* bread_crumbs end */


/* main_area */

main{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
}

/*------ product_buy ------*/

/* picture_small */

.product_buy{
    display: flex;
    width: 100%;
    padding-bottom: 60px;
}

.product_buy .picture_small{
    flex-grow: 1;
    padding-left: 70px;
}

.product_buy .picture_small .picture_small_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product_buy .picture_small .picture_small_wrap img{
    display: block;
    width: 100%;
    width: 100px;
    padding-bottom: 20px;
}


/* picture_small end*/

/* picture_main */

.picture_main{
    flex-grow: 1;
}

.picture_main img{
    display: block;
    margin: 0 auto;
}

/* picture_main end */


/* product_text */

.product_text{
    flex-grow: 2;
    padding-left: 20px;
}

.product_text h1{
    font-size: 28px;
    color: #194448;
    font-weight: 500;
    letter-spacing: 4px;
}

.product_text h2{
    font-size: 18px;
    padding: 10px 0 0;
}

.product_text .product_other{
    font-size: 18px;
    padding: 10px 0;
    line-height: 2;
}

.product_text .deliver_time{
    width: 230px;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    background-color: #D9D9D9;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 3px;
}

.product_text p{
    font-size: 24px;
    color: #194448;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.product_text .quantity-wrapper{
    padding-bottom: 10px;
}

.product_text .quantity-wrapper .quantity-title{
    color: rgb(124, 124, 124);
    font-weight: 500;
}


.product_text .quantity-wrapper .quantity_block .input_group{
    vertical-align: middle;
    display: flex;
}

.product_text .quantity-wrapper .quantity_block .input_group .input_group_btn{
    display: inline-block;
    width: 30px;
}

.product_text .quantity-wrapper .quantity_block .input_group .input_group_btn .btn{
    width: 30px;
    height: 30px;

    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
}

.product_text .quantity-wrapper .quantity_block .input_group .input_group_btn .btn:hover i{
    color: #E4B67A;
}

.product_text .quantity-wrapper .quantity_block .input_group .input_group_btn .btn .fa-minus , .fa-plus{
    font-size: 12px;
    color: black;
}

.product_text .quantity-wrapper .quantity_block .input_group input{
    border: 1px solid #ccc;
    width: 75px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    border-right: none;
    border-left: none;
    border-radius: 0%;
}

.cart_container{
    padding-top: 17px;
}

.cart_container .cart_btn{
    width: 385px;
    height: 40px;
    font-size: 18px;
    background-color: #E4B67A;
    color: black;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 600;
}

.cart_container .cart_btn:hover{
    cursor: pointer;
    background-color: #194448;
    color: #fff;
}

/* product_text end */

/* ----- product_buy end ----- */


/* ----- product_detail ----- */

.panel_control {
    position:absolute;
    opacity:0;
}
.tab_group label {
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border:1px solid #ccc;
    border-bottom:none;
    background-color: #ccc;
    bottom:-1px;
    position:relative;
    width: 717px;
    text-align: center;
}

.content_group {
    border:1px solid #ccc;
    padding: 50px 241px 30px;
}
.content_group .content{
    display:none;
}

.content_group .content p{
    line-height: 3;
}

.content_group .content img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#radio1:checked ~ .tab_group [for="radio1"],
#radio2:checked ~ .tab_group [for="radio2"]{
    background-color: #fff;
}

#radio1:checked ~ .content_group .content1,
#radio2:checked ~ .content_group .content2{
    display:block
}
  
/* ----- product_detail end -----*/



/* ----- product_similar ----- */

.product_similar{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product_similar h3{
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 35px;
    left: 120px;
    border-bottom: 4px solid #E4B67A;
}

/* swiper */

.swiper{
    width: 1200px;
    height: 400px;
    margin-top: 50px;
}


/* .swiper .swiper-slide ul{
    display: flex;
    padding: 30px;
}

.swiper .swiper-slide ul li{
    flex-grow: 1;
} */

.swiper .swiper-slide a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;
}

.swiper .swiper-slide a img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.swiper-button-prev{
    color: #E4B67A;
    left: 0px;
    top: 40%;
}
.swiper-button-next{
    color: #E4B67A;
    right: 0;
    top: 40%;
}

/* ----- product_similar end ----- */

/*---------- 螢幕小於 428 時 ----------*/
@media screen and (max-width: 428px){
    .wrapper{
        min-width: auto;
    }

    .bread_crumbs{
        /* display: none; */
        padding-top: 60px;
        line-height: 35px;
    }

    .bread_crumbs h1{
        display: none;
    }

    main{
        max-width: 100%;
    }

    .product_buy{
        flex-direction: column;
    }

    .product_buy .picture_small{
        padding-left: 0px;
        order: 1;
    }

    .product_buy .picture_small .picture_small_wrap{
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: space-evenly;
        padding-top: 5px
    }

    .product_buy .picture_small .picture_small_wrap img{
        width: 80px;
    }

    .picture_main img{
        width: 100%;
    }

    .product_text{
        order: 2;
        padding: 0 30px;
    }

    .product_text h1{
        font-size: 26px;
    }

    .product_text .product_other{
        font-size: 16px;
    }

    .product_text .deliver_time{
        font-size: 16px;
        width: 220px;
    }

    .product_text .quantity-wrapper .quantity_block .input_group input{
        border-radius: 0%;
    }
 
    .cart_container .cart_btn{
        width: 100%;
        font-size: 16px;
        height: 35px;
    }
    .cart_container .cart_btn:hover{
        cursor: pointer;
        background-color: #194448;
        color: #fff;
    }

    .tab_group label{
        width: auto;
        font-size: 16px;
        padding: 5px 20px;
        width: 49%;
        /* border-left: none; */
    }

    .content_group{
        padding: 0 10px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .content_group .content{
        padding: 40px 6px 10px;
    }

    .content_group .content img{
        width: 100%;
    }

    .tab_group{
        text-align: center;
    }
    
    .content_group .content p{
        line-height: 2.5;
        font-size: 14px;
    }

    .product_similar {
        width: 95%;
        padding-top: 40px;
        margin: 0 auto;
        text-align: center;
    }

    .product_similar h3{
        font-size: 16px;
        position: static;
        width: 80px;
        margin: 0 auto;
    }

    .swiper{
        width: 100%;
        margin-top: 50px;
    }

    .swiper .swiper-slide a img{
        width: 80%;
    }

    /* 購物車彈窗 */
    #cartbox article{
        height: 100vh;
        top: 50%;
        max-width: 400px;
        max-height: 100%;
        transform: translate(-50%, -50%);
    }

    #cartbox .cart_add img{
        width: 70px;
    }

    #cartbox .cart_add .cart_text{
        margin: 0;
        margin-left: 10px;
    }

    #cartbox .cart_add h1{
        font-weight: 500;
    }

    #cartbox .cart_add i{
        padding-left: 10px;
    }

    #cartbox button{
        font-weight: 400;
        width: 70%;
    }


    /* 購物車數量圈 */
    .cart_qty_rwd{

        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 4%;
        top: 4px;
        background-color: #194448;
        color: white;
        font-size: 12px;
        padding-left: 1px;
        padding-top: 1px;
        opacity: 0;
    }
    

}