/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
    background-color: #fff;
}

header nav .now_page{
    color: #E4B67A;
}

/* bread_crumbs */
.bread_crumbs{
    max-width: 1440px;
    margin: 0 auto;
    line-height: 45px;
    background-color: #EEEFE9;
    display: flex;
    padding-left: 25px;
}

.bread_crumbs h1::after{
    content: '／';
}

/* bread_crumbs end */

/* main_area */

main{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
}

/* left_block */

.left_block{
    flex-basis: 550px;
    padding: 30px 70px 0 70px;
}

.left_block ul li{
    position: relative;
    padding-bottom: 15px;
}


.left_block ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.left_block ul li a:hover, .dropdown-btn:hover{
    color: #E4B67A;
}

.left_block .dropdown-btn{
    width: 150px;
    font-size: 18px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 0;
}

.left_block .fa-angle-down{
    position: absolute;
    top: 5px;
    right: -30px;
    transform: rotate(0deg);
    transition: all 0.6s;
}

.left_block .dropdown-container{
    display: none;
    padding-left: 8px;
    padding-top: 10px;
}

.left_block ul li .dropdown-container .dropdown-text{
    color: #999999;
}

.left_block ul li .dropdown-container .dropdown-text:hover{
    color: #E4B67A;
}





/* left_block end */

/* product_block */

.product_block{
    padding-top: 30px;
}

.product_block ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product_block ul li{
    padding-left: 50px;
    padding-bottom: 50px;
}

.product_block ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    position: relative;
    font-weight: 500;
}

.product_block ul li img{
    display: block;
    margin-bottom: 10px;
}

.product_block ul li a .cart{
    border: none;
    background-color: #194448;
    color: white;
    width: 280px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 3px;
    padding: 3px 0;
    margin: 0 auto;
    
    position: absolute;
    top: 250px;
    left: 10px;

    display: none;
}

/* a:hover */

.product_block ul li a:hover{
    color: #E4B67A;
}

.product_block ul li a:hover img{
    filter: brightness(.6);
}

.product_block ul li a, a:link, a:visited{
    color: #000;
    text-decoration: none;
}

.product_block ul li a:hover .cart{
    display: block;
}


/* product_block end */


.page_number{
    max-width: 1440px;
    margin: 0 auto;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 90px 80px 0;
}
.page_number a{
    padding: 0 5px;
}

.page_number a:hover{
    color: #E4B67A;
}

.page_number #page1{
    border-bottom: 2px solid #E4B67A;
    border-bottom-color: #E4B67A;
    color: #E4B67A;
}