/* *{
    outline: 1px solid red;
} */

.wrapper{    
    width: 100%;
    min-width: 1440px;
}

header nav .now_page{
    color: #E4B67A;
}

/* banner_area */

.banner img{
    display: block;
    width: 100%;
}

/* banner_area end */

/* main_area */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/*----- reservation_bar -----*/

.reservation_bar{
    width: 1000px;
    margin: 60px auto;
    background-color: #fff;

    display: flex;
}
.reservation_bar img{
    display: block;
}
.reservation_bar p{
    flex-grow: 3;
    font-size: 18px;
    font-weight: 600;
    padding: 56px 0 56px 40px;
    letter-spacing: 4px;
}
.reservation_bar .button{
    flex-grow: 1;
}
.reservation_bar .button button{
    width: 160px;
    line-height: 50px;
    padding: 0px;
    margin: 45px 0px 45px 150px;
    border: none;
    font-size: 16px;
    background-color: #194448;
    color: #fff;
}
.reservation_bar .button button:hover{
    cursor: pointer;
    background-color: #E4B67A;
}

/* reservation_bar_taipei */

.reservation_bar_taipei{
    width: 1000px;
    margin: 70px auto 100px;
    background-color: #fff;

    display: flex;
}

.reservation_bar_taipei img{
    display: block;
}
.reservation_bar_taipei p{
    flex-grow: 3;
    font-size: 18px;
    font-weight: 600;
    padding: 56px 0 56px 40px;
    letter-spacing: 4px;
}
.reservation_bar_taipei .button{
    flex-grow: 1;
}
.reservation_bar_taipei .button button{
    width: 160px;
    line-height: 50px;
    padding: 0px;
    margin: 45px 0px 45px 150px;
    border: none;
    font-size: 16px;
    background-color: #194448;
    color: white;
}

.reservation_bar_taipei .button button:hover{
    cursor: pointer;
    background-color: #E4B67A;
}

.reservation_bar_taipei_active{
    display: none;
}

/*----- reservation_bar end -----*/

/*----- choose_date -----*/

.choose_date{
    display: none;
}
.choose_date_active{
    position: relative;
    padding: 70px 0;

    display: block;
}

.choose_date h1{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 4px solid #E4B67A;

    position: absolute;
    top: 0;
    left: 220px;
}

/* calendar_block */

#datepicker{
    width: 1000px;
    margin: 0 auto;
}

/* 修改日曆樣式 */
.ui-datepicker-today .ui-state-highlight {
    border: 1px solid #E4B67A;
    color: black;
    background-color: #E4B67A;
}

.ui-datepicker-current-day .ui-state-active{
    border: 1px solid #194448;
    color: white;
    background-color: #194448;
}

.ui-widget.ui-widget-content {
    border: none;
    width: 1000px;
    padding: 10px;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    font-size: 18px;
}

.ui-datepicker table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    text-align: center;
    line-height: 40px;
}

/* calendar_block end */
/*----- choose_date end-----*/


/*----- choose_time -----*/
.choose_time{
    display: none;
}

.choose_time_active{
    padding: 70px 0 0 200px;
    position: relative;

    display: block;
    display: flex;
}

.choose_time h1{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 4px solid #E4B67A;

    position: absolute;
    top: 0;
    left: 220px;
}

.input {
    opacity: 0;
}

.choose_time label{
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
    border:1px solid #ccc;
    border-bottom:none;
    background-color: #ccc;
    bottom:-1px;
    position:relative;
    width: 115px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 5px;
    padding-left: 5px;
}

.choose_time label:hover{
    cursor: pointer;
    background-color: #194448;
    color: white;
}

.choose_time label.-on{
    background-color: #194448;
    color: #fff;
}

/*----- choose_time end-----*/

/*----- information -----*/

.information{
    display: none;
}

.information_active{
    padding: 70px 0 0 0px;
    width: 1000px;
    margin: 70px auto;
    position: relative;

    display: block;
}

.information h1{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 4px solid #E4B67A;

    position: absolute;
    top: 0;
    left: 0;
}

.information .map{
    background-color: #fff;
    overflow: hidden;
}

.information .map iframe{
    width: 500px;
    float: left;
    padding: 40px 70px 40px 50px;
}

.information .map p{
    padding-top: 30px;
    line-height: 3;
    font-weight: 500;
}

.information button{
    width: 160px;
    line-height: 50px;
    padding: 0px;
    margin: 45px 0px 45px 420px;
    border: none;
    font-size: 16px;
    background-color: #194448;
    color: white;
}

.information button:hover{
    cursor: pointer;
    background-color: #E4B67A;
}
/*----- information end -----*/


.btn_mode_close{
    cursor: pointer;
}

#lightbox{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
}

.none{
    display: none;
}

/* 元素 article 置中及基本樣式 */
#lightbox article{
    background-color: white;
    width: 90%;
    max-width: 500px;
    padding: 20px;

    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lightbox article h1{
    margin-bottom: 20px;
}

#lightbox article button{
    margin-top: 20px;
    font-size: 16px;
    border: none;
    background-color: #194448;
    color: white;
    width: 50px;
    line-height: 30px;
}


/* main_area end */
